.box{
    background-color: rgb(80, 229, 137);
    font-size:15px;
    font-weight: 500;
    width: 400px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn{
    font-weight: 600;
    border: 10px;
    padding: 11px;
    border-radius: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}






/* .bg{
    background-color: red;
    width: 700px;
    color: white;
    margin: 60px auto;
    padding: 120px 40px ;
    border-radius: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

} */







.login {
    font-size: medium;
    text-align: center;
    padding: 16px;
    width: 400px;
    margin: 120px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.head{
   
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input{
    width: 380px;
    margin-bottom: 12px;
    padding: 16px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 12px;
    border: 1px solid lightgray;


}


.btn2{
    background-color: black;
    color: aliceblue;
    width: 300px;
   font-size: 18px;
   font-weight: 700;
  
    
    border: 10px;
    padding: 18px ;
    border-radius: 46px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dim{
    color: rgb(201, 203, 204);


}







.card{
    width: 400px;
    margin: 40px auto;
    padding: 10px 10px ;
    border-radius: 14px;

    border: 1px solid lightgray;

    
    border-radius: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.card-img{
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;


}

.padding{
    padding: 10px;

}

.btn4{
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: medium;
    color: rgb(71, 140, 219);
    border-radius: 6px;
    
    border: 1px solid lightgray;
    padding: 16px 30px;
  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.main{
    width: 400px;
    margin: 40px auto;
    padding: 20px ;
    border-radius: 14px;
    box-sizing: border-box;

    border: 1px solid lightgray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.img{
    box-sizing: border-box;
    width: 50px;
   
    border-radius: 100px;

  
    




}
.imgg{
    width: 56px;
    
    
}



.btn0{
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: medium;
    color: rgb(66, 143, 231);
    border:none;
    
    
   
    padding: 16px 30px;
  



}















